<div class="container data-table">
  <div class="row">
    <div class="col-4 search-column">
      <input
        class="form-control"
        #tagInput
        type="text"
        placeholder="Filter post by tags"
      />
      &nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="onFind(tagInput)">
        Filter
      </button>
    </div>
  </div>
  <br />
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th scope="col">Tags</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of postService.posts">
        <td>{{ post.content }}</td>
        <td>{{ post.tags }}</td>
        <td>
          <i class="fas fa-edit fa-1x" [routerLink]="['/edit', post._id]"></i
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-trash-alt fa-1x" (click)="onDelete(post._id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
